<a href="https://colab.research.google.com/github/KrGil/data_recommend_system_begin/blob/master/1_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd

In [131]:
pd.__version__

'1.1.5'

#Read Data

In [132]:
movies = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/movies.csv', index_col='movieId')

In [133]:
movies.shape

(9742, 2)

In [134]:
# movies.head(10)
# movies.tail(10)
# movies.sample(10)
movies.sample()

                          title                        genres
movieId
7325     Starsky & Hutch (2004)  Action|Comedy|Crime|Thriller

In [135]:
movies.columns

Index(['title', 'genres'], dtype='object')

# Save Data

In [136]:
movies.to_csv('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/save_test.csv')

###개봉연도 데이터 정제하기 (데이터 전처리, Preprocessing)

In [137]:
# Pandas apply, Python lambda expression 으로 간단하게 풀어보기
# apply, title이라는 컬럼에 ㅎ마수를 반복 적용, for문의 기능
# apply(함수) : 함수를 lambda 함수로도 써 줄 수 있다.

movies['year'] = movies['title'].apply(lambda x: x[-5:-1])
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '999)', '2005', '2006', '1902', 'lon ', '1903', '2007',
       '2008', '008)', '007)', '2009', '2010', '2011', '2012', '011)',
       '998)', '995)', '2013', '012)', '973)', '2014', '2015', '014)',
       '2016', '2017', '2018', '1908', 'r On', ' Roa', 'atso', 'imal',
       'erso', 'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro'],
      dtype=object)

In [138]:
movies[movies['year'] == '012)']

                                title                    genres  year
movieId
102084   Justice League: Doom (2012)   Action|Animation|Fantasy  012)

In [139]:
# Pandas .loc[] == location
# movies.loc[index, 'column']
movies.loc[102084, 'title'].strip()

'Justice League: Doom (2012)'

In [140]:
movies['title'] = movies['title'].apply(lambda x : x.strip())

In [145]:
movies['year'] = movies['title'].apply(lambda x : x[-5:-1])
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', 'lon ', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908', 'r On', ' Roa', 'atso', 'imal', 'erso',
       'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro'], dtype=object)

In [146]:
errors = ['lon ','r On', ' Roa', 'atso', 'imal', 'erso',
          'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro']

In [149]:
# Pandas location
# movies.loc[incex(필터링정보), column]
movies.loc[movies['year'].isin(errors), 'year'] = '2050'

In [150]:
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', '2050', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908'], dtype=object)

In [ ]:
movies['year'] = movies['title'].str.extract('(\(\d\d\d\d\))')

In [ ]:
movies['year'] = movies['year'].str.extract('(\d\d\d\d)')

In [ ]:
movies

In [ ]:
movies['year'].unique()

### 결측값 핸들링하기

In [ ]:
# NaN (Not a Number), 결측치
movies[movies['year'].isnull()]

In [ ]:
movies['year'] = movies['year'].fillna('2050')

### 데이터에 가장 많이 출현하는 개봉연도를 찾아주세요.

In [ ]:
# movies['year'].value_counts()

In [ ]:
%matplotlib inline

import seaborn as sns
import matplotlib.pyplot as plt # seborn figure 크기 조절을 위해서

In [ ]:
plt.figure(figsize = (50,10))
sns.countplot(data= movies, x = 'year', order= sorted(movies['year'].unique()))

### genres  분석

In [ ]:
movies['genres']

In [ ]:
sample_genre =movies['genres'][1]
sample_genre

In [ ]:
sample_genre.split("|")

In [ ]:
genres_list = list(movies['genres'].apply(lambda x : x.split("|")))

In [ ]:
genres_list[:3]

### flatten list of list

In [ ]:
flat_list = []
for sublist in genres_list :
  for item in sublist :
    flat_list.append(item)

In [ ]:
set(flat_list)

In [ ]:
flat_list

In [ ]:
genres_unique = list(set(flat_list))

In [ ]:
len(genres_unique) #19개의 장르

In [ ]:
movies

### 장르 데이터 숫자형으로 변환하기

In [ ]:
message = 'Hello'
message

In [ ]:
'H' in message

In [ ]:
'Horror' in sample_genre

In [ ]:
movies['Adventure'] = movies['genres'].apply(lambda x : 'Adventure' in x)
movies['Comedy'] = movies['genres'].apply(lambda x : 'Comedy' in x)

In [ ]:
# movie

In [ ]:
movies.head(10)

In [ ]:
# difference between csv and pickle when saving pandas dataframe
# [stackoverflow] What is the difference between save a pandas dataframe to pickle and to csv?
genres_dummies = movies['genres'].str.get_dummies(sep='|')

In [ ]:
genres_dummies.to_pickle('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/genres.p')

In [ ]:
# 두 장르의 관계가 1에 가깝다는 것은 : 두 장르가 자주 같이 출현
# 두 장르의 관계가 -1에 가깝다는 것은 : 두 장르가 아주 드물게 출현, 겹치는 영역이 없음
# 두 장르의 관계가 0에 가깝다는 것은 :
plt.figure(figsize = (30, 15))
sns.heatmap(genres_dummies.corr(), annot=True)

In [ ]:
ratings = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/ratings.csv')
ratings.sample()

In [ ]:
movies.loc[[6157],'title']

In [ ]:
ratings.shape

In [ ]:
print(len(ratings['userId'].unique()) ) #총 610명의 유저 데이터
print(len(ratings['movieId'].unique()))  #총 9724개의 영화 데이터

In [ ]:
#사람들이 남긴 평점의 평균점수
ratings['rating'].describe()

In [ ]:
ratings['rating'].hist()

### 사람들은 평균적으로 몇 개의 영화에 대해서 rating을 남겼는가?

In [ ]:
users = ratings.groupby('userId')['movieId'].count()
users.describe()

In [ ]:
# power law distribution,  역함수 분포
import seaborn as sns
sns.displot(users.values)

### 사람들이 많이 보는 영화는?

In [ ]:
films = ratings.groupby('movieId')['userId'].count()
films[:5]

In [ ]:
films.describe()

In [ ]:
plt.figure(figsize = (3, 15))
sns.displot(films.values)

In [ ]:
films.sort_values(ascending=False)[:5]

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/movies.csv', index_col = 'movieId')

In [ ]:
movies.loc[[356, 318, 296, 593, 2571]]

### 겨울왕국 평점보기

In [ ]:
movies.loc[106696]

In [ ]:
frozen = ratings[ratings['movieId'] == 106696]
ratings['movieId'] == 106696 ##본 사람들을 true or false 나타내는 듯함.

In [ ]:
len(frozen)

In [ ]:
frozen['rating'].hist()

In [ ]:
frozen[frozen['rating'] == 0.5]

In [ ]:
##frozen
ratings['userId'] == 567

In [ ]:
ratings[ratings['userId'] == 567]

In [ ]:
user567 = ratings.loc[ratings['userId']== 567]
user567

In [ ]:
len(user567)

In [ ]:
ratings.loc[ratings['userId'] == 567, 'rating'].hist()

In [ ]:
ratings['rating'].hist()

##timestamp 컬럼 처리

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1537158105)

In [ ]:
ratings['timestamp'] = ratings['timestamp'].apply(lambda x : datetime.fromtimestamp(x))

In [ ]:
ratings.sample()

In [ ]:
myratings = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/my-ratings.csv')
myratings.sample()

In [ ]:
myratings['timestamp'] = pd.to_datetime(myratings['timestamp'])

In [ ]:
ratings_concat = pd.concat([ratings, myratings])
ratings_concat.tail()

In [ ]:
ratings_concat.to_pickle('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/ratings_updated.p')